/* ===========================
        About
============================== */
#about {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-top: 85%;
    width:100%;
    background:none;
    
    align-items: center;
}

.layer {
	background-position: top center;
	background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 93.68%;
	position: absolute; top:0; left:0;
	z-index: -1;
}

#about-mobile {
	display: none;
	background: url("../assets/img/about/bg-00.png") no-repeat center bottom / cover;
	height: 320px;
}


.layer-bg {
	background-image: url("../assets/img/about/bg-01_sky.png");
}
.layer-1 {
	background-image: url('../assets/img/about/bg-02_building.png');
}
.layer-2 {
	background-image: url('../assets/img/about/bg-03_temple.png');
}
.layer-3 {
	background-image: url('../assets/img/about/bg-04_foreground.png');
  transform: translateY(3%);
}

@media only screen and (max-width: 768px) {
	.layer {
    background-size: cover;
    padding-top: 0; height:100%;
  }
  #about {
	  overflow: hidden;
	  position: relative;
    height: 100vh; padding-top: 0;
    width:100%;
  }
}

/* #about-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} */

#about-overlay {
    background-color: rgba(54, 54, 54, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#about-content {
    /*width: 100%;
    height: 100%;
    /* display: table; */
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    padding: 90px 0 0 0;
}

@media (min-width: 993px){
    #about-content {
        padding-left: 100px;
    }
}

#about-content h1 {
    margin-top:0;
    font-weight:400;
    font-size:48px;
}

.about-me__content {
    background-color: rgba(17,17,17,.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    position: relative;
    padding: 3rem;
    border-radius: 0.25rem;
    color: #fff;

    text-align: left;
}

.p-subheading {
    font-size:24px;
    padding:0 0 12px;
}

#arrow-down {
    border-radius: 50%;
    border:none;
    font-size: 24px;
    line-height: 0;
    padding: 12px;
    background-color: var(--highlight);
    color:var(--lowlight);
    margin-bottom:20px;
}

#arrow-down:hover {
    background-color: white;
}