/* ===========================
        Navbar
============================== */
.navbar {
    padding: 13px 50px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;

    font-family: "Roboto", sans-serif;
    color: var(--highlight);
    font-size: 15px;
    letter-spacing: 1px;

    background-color: rgba(17,17,17,.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border:none;

    border-radius: 0;
}

@media (max-width: 767px){
    .navbar {
        padding: 13px 0;
    }
}

.nottop {
    background-color: var(--lowlight);
    box-shadow:inset 0 -0.25em var(--altlight);
}

#responsive-navbar-nav {
    justify-content: right;
}

.navbar-light .navbar-nav .nav-link {
    color:var(--highlight);
    margin:0 5px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color:#fff;
}

.navbar-light .navbar-brand {
    color:#fff;
    font-size: 3rem;
}

.navbar-light .navbar-brand:visited {
    color:#fff;
}

.navbar-light .navbar-brand p {
    font-family: "Allison", sans-serif;
    font-size: 4rem;
    display:inline;
}

.navbar-light .navbar-toggler {
    border:none;
    background:var(--highlight);
    padding:5px;
}

/* ===========================
        SVG
============================== */
.st0{fill:#FFFFFF;}
.st1{font-family:'Bahnschrift';}
.st2{font-size:55.9073px;}
.st3{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}

.st3 {
    stroke-dasharray: 910;
    animation: draw 2s reverse;
  }
  @keyframes draw {
    0% { stroke-dashoffset:0; }
    100% { stroke-dashoffset:910; }
  }
  
  #borwell {
    opacity:0;
    animation: reveal 1s linear 1.7s forwards;
  }
  @keyframes reveal {
    0% { opacity:0 }
    100% { opacity:1 }
  }